* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #EDF2F8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #576373;
}

.container_content {
    width: 850px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.image_container {
    width: 400px;
    height: 100%;
    aspect-ratio: 1;
    background-image: url('images/drawers.jpg');
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.content {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;

    & p {
        text-wrap: pretty;
    }
}


.user_content {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user_info {
    margin-right: auto;
}


.user_info>p:nth-child(2) {
    color: #a3a7ad;
}

.share {
    width: 50px;
    height: 50px;
    background-color: #ECF1F7;
    padding: 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.share_container {
    position: relative;
}

.share_content {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #576373;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    position: absolute;
    transform: translate(-75px, 20px);
    top: -100px;
    opacity: 1;
    transition: all ease-in-out 300ms;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    & span {
        text-transform: uppercase;
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: inherit;
        bottom: -10px;
        transform: rotate(45deg);
    }
}

.hidden {
    opacity: 0;
    transform: translate(-75px, 0px);
}

/** Footer*/

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;

    & a {
        color: black;
        text-decoration: none;

        &:hover {
            font-weight: bold;
        }
    }
}